.carouselText {
  color: #282c34 !important;
  margin-bottom: 250px;
}

.carouselText h1 {
  font-size: 55px;
  font-weight: 600;
}

.carouselText h5 {
  font-size: 18px;
  color: #aaa;
  font-weight: bold;
}

.customBgColor {
  background-color: #282c34 !important;
}

.customColor {
  color: #282c34 !important;
}

.cardImg {
  width: 100% !important;
}

.avatar {
  border-radius: 100%;
  width: 80px;
}

.nav-avatar {
  border-radius: 100%;
  width: 40px;
}

.cardHover:hover {
  box-shadow: 0 3px 3px;
}

.navBtn {
  margin: 0.5rem !important;
  color: white !important;
  display: block !important;
  font-size: 16px !important;
  letter-spacing: 1.5px !important;
}

.navBtn:hover {
  color: white;
}

.name:hover {
  color: white;
}

#standard-search {
  color: white !important;
}

.imgBox {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#contactBg {
  background-image: url('https://i.ibb.co/nC4TtDj/contact-bg.jpg') !important;
}